body {
	margin: 0;
	min-width: 1200px;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
    text-transform: uppercase;
}

.main-header {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	text-align: center;
}

.logo-little {
	position: absolute;
	transform: translateX(-50%);
	top: 0;
	left: 50%;
	z-index: 3;
}

.navigation-wrapper {
	width: 1060px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.site-navigation-first {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-left: 0;
	width: 330px;
	justify-content: space-between;
	text-align: left;
}

.site-navigation-second {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-left: 0;
	width: 330px;
	justify-content: space-between;
	text-align: right;
}

.navigation-item {
	width: 105px;
}

.navigation-link {
	color: #000000;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.navigation-item.current {
	color: #766357;
	margin-top: 20px;
	margin-bottom: 20px;
}

.navigation-link:hover {
	color: #81b3d2;
}

.navigation-link:active {
	color: #b7b7b7;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-logo {
	background-color: #5785ae;
	background-image: url("../img/background-main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.logo-group {
	text-align: center;
	padding-top: 75px;
	vertical-align: bottom;
	position: relative;
	padding-bottom: 90px;
}

.part-two::after {
	content: "";
	display: block;
	background-image: url("../img/polygon.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 57px;
	position: absolute;
	left: 0;
	bottom: 0;
}


.logo-info {
	background-color: #ffffff;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 60px;
}

.logo-info p {
	margin: 0;
}

.info-width {
	margin-top: 0;
	font-size: 21px;
}

.info-narrow {
	font-weight: 400;
	padding-top: 45px;
}

.really-town {
	background-color: #81b3d2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.town-text {
	color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	align-self: center;
	width: 400px;
}

.number {
	position: relative;
}

.number::before {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #ffffff;
	bottom: 10px;
	left: 175px;
}

.number::after {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #ffffff;
	bottom: 10px;
	left: 215px;
}

.number-color {
	position: relative;
}

.number-color::before {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #000000;
	bottom: 10px;
	left: 108px;
}

.number-color::after {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #000000;
	bottom: 10px;
	left: 148px;
}

.town-text p {
	font-size: 14px;
	margin: 0;
	padding-top: 30px;
}

.town-text h3 {
	margin: 0;
}

.town-img img {
	vertical-align: bottom;
}

.opportunites {
	background-color: #ffffff;
}

.opportunites-list {
	line-height: 21px;
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	padding-bottom: 87px;
    padding-top: 60px;
	margin: 0;
}

.opportunites-item {
	position: relative;
	width: 265px;
	padding-top: 110px;
}

.opportunites-item h3 {
	margin: 0 auto;
	font-size: 21px;
	display: block;
	max-width: 100%;
}

.opportunites-item p {
	margin: 0;
	font-weight: 400;
	padding-top: 32px;
	max-width: 290px;
}

.first::before {
	content: "";
	position: absolute;
	display: block;
	width: 75px;
	height: 75px;
	background-image: url("../img/icon-1.png"); 
	background-repeat: no-repeat;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.second::before {
	content: "";
	position: absolute;
	display: block;
	width: 75px;
	height: 75px;
	background-image: url("../img/icon-2.png"); 
	background-repeat: no-repeat;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.third::before {
	content: "";
	position: absolute;
	display: block;
	width: 67px;
	height: 75px;
	background-image: url("../img/icon-3.png"); 
	background-repeat: no-repeat;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.opportunites-grey {
	background-color: #eeeeee;
}

.opportunites-grey .opportunites-item {
	padding-top: 0;
}

.opportunites-list-second {
	line-height: 21px;
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	padding-top: 53px;
	padding-bottom: 66px;
	margin: 0;
}

.interesting {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	font-weight: 400;
	text-align: center;
}

.interesting h2 {
	font-size: 30px;
	line-height: 36px;
	margin: 0;
	padding-top: 60px;
}

.interesting p {
	line-height: 24px;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 140px;
}

.search-section {
	background: url("../img/map.jpg") no-repeat #ffffff;
	width: 1200px;
	height: 470px;
	position: relative;
}

.find-form{
	width: 570px;
	margin: 0 auto;
	background-color: #ffffff;
	position: absolute;
	left: 315px;
	bottom: 69px;
}

.button-top {
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 21px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #766357;
	color: #ffffff;
	width: 570px;
	border: none;
	cursor: pointer;
}

.button-top:hover {
	background-color: #604e43;
}

.button-top:active {
	background-color: #503e33;
	color: #857871;
	outline: none;
}

.find-form-content {
	padding: 55px;
}


.form-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.visit-calendar {
	position: absolute;
	width: 21px;
	height: 23px;
	right: 10px;
	top: 8px;
	fill: #cacaca;
}

.visit-calendar:hover {
	fill: #000000;
}

.visit-calendar:active {
	fill: #81b3d2;
}

.form-visit-date {
	display: block;
	min-width: 100px;
}

.form-text:hover,
.form-departure input:hover {
	background-color: #ebebeb;
}

.form-text:focus,
.form-departure .form-text:focus {
	background-color: #ffffff;
}

.form-row.form-departure {
	margin-top: 29px;
	position: relative;
}

.departure-calendar {
	position: absolute;
	fill: #cacaca;
	width: 21px;
	height: 23px;
	right: 10px;
	top: 8px;
}

.departure-calendar:hover {
	fill: #000000;
}

.departure-calendar:active {
	fill: #81b3d2;
}

.form-departure-date {
	display: block;
	min-width: 100px;
}

.form-text {
	width: 350px;
	height: 40px;
	cursor: pointer;
	padding: 7px 10px;
	border: none;
	background-color: #f2f2f2;
	font-size: inherit;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: inherit;
	line-height: inherit;
	box-sizing: border-box;
}


.form-flex {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 55px;
}

.adult {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

.value-adult {
	min-width: 110px;
}

.position {
	position: relative;
}

.button-minus {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 50px;
	line-height: 26px;
	font-weight: 400;
	position: absolute;
	z-index: 3;
	border: none;
	display: block;
	width: 29px;
	height: 29px;
	left: 7px;
	top: 1px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #a9a9a9;
}

.button-minus:hover  {
	color: #000000;
}

.button-minus:active {
	color: #81b3d2;
}

.img-first {
	position: absolute;
	right: 2px;
}

.img-first:hover path {
	fill: #ffffff;
}

.form-text-adult {
	width: 114px;
	height: 40px;
	border: none;
	background-color: #f2f2f2;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: center;
	padding: 7px 10px;
	box-sizing: border-box;
	position: relative;
}

.button-plus {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 25px;
	line-height: 26px;
	font-weight: 700;
	position: absolute;
	border: none;
	z-index: 3;
	display: block;
	width: 29px;
	height: 29px;
	right: 7px;
	top: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	color: #a9a9a9;
}

.button-plus:hover  {
	color: #000000;
}

.button-plus:active {
	color: #81b3d2;
}

.img-second {
	position: absolute;
	bottom: -2px;
	left: 3px;
}

.child {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.value-child {
	min-width: 67px;
}

.form-text-child {
	width: 114px;
	height: 40px;
	border: none;
	background-color: #f2f2f2;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: center;
	padding: 7px 10px;
	box-sizing: border-box;
}

.find-button {
	background-color: #81b3d2;
	border: none;
	width: 100%;
	padding: 16px;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.find-button:hover {
	background-color: #669ec0;
}

.find-button:active {
	background-color: #5496bd;
	color: #7aadcb;
	outline: none;
}

.footer-main {
	background-color: #ffffff;
	width: 1200px;
	margin: 0 auto;
	box-shadow-left: 0 0 10px #dbdbdb;
	box-shadow-right: 0 0 10px #dbdbdb;
}

.footer-contain {
	width: 980px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 35px;
}

.contacts {
	text-align: center;
	width: 225px;
}

.footer-tel {
	list-style: none;
	font-size: 21px;
	margin: 0;
	padding-left: 0;
}

.tel-number {
	color: #333333;
}

.social {
	width: 150px;
	text-align: center;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.social-item {
	margin-bottom: 10px;
}

.social-element {
	display: flex;
	width: 45px;
	height: 45px;
	background-color: #81b3d2;
	justify-content: center;
	align-items: center;
}

.social-element:hover {
	background-color: #669ec0;
}

.social-element:hover path,
.social-element:active path {
	fill: #88b6d1;
}

.social-element:active {
	background-color: #5496bd;
	border: 0;
}

.site {
	display: flex;
	align-items: center;
}

.site-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 198px;
}

.site-text {
	width: 78px;
	color: #000000;
	margin: 0;
}

.site-img {
	width: 115px;
	height: 40px;
}

.site-img:hover path {
	fill: #81b3d2;
}

.site-img:active path {
	fill: #bdbbbc;
}

.choose {
	background-image: url("../img/background-filter.jpg");
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	background-size: cover;
}

.form-top {
	width: 1060px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.form-choose {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	justify-content: space-between;
	position: relative;
}

.form-infra {
	border: none;
	padding: 0;
	width: 140px;
	margin-top: 25px;
}

.infra-name {
	padding-left: 0;
	display: block;
	position: relative;
	color: #ffffff;
}

.checkbox-on {
	display: block;
	box-sizing: border-box;
	width: 23px;
	height: 23px;
	position: absolute;
	top: 70px;
	fill: #ffffff;
}

.infra-list {
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: 400;
}

.infra-item {
	margin-bottom: 25px;
	margin-top: 25px;
	padding-left: 40px;
	position: relative;
}

.infra-item:first-child::before {
	content: "";
	display: block;
	box-sizing: border-box;
	width: 23px;
	height: 23px;
	position: absolute;
	background-image: url("../img/checkbox-on.svg");
	left: 0;
}

.infra-item:nth-child(2)::before,
.infra-item:nth-child(3)::before
 {
	content: "";
	display: block;
	box-sizing: border-box;
	width: 23px;
	height: 23px;
	position: absolute;
	border: 2px solid #ffffff;
	border-radius: 3px;
	left: 0;
}

.infra-item input {
	display: none;
}

.form-housing {
	border: none;
	padding: 0;
	width: 140px;
	margin-top: 25px;
}

.housing-name {
	padding-left: 0;
	color: #ffffff;
}

.housing-list {
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: 400;
}

.housing-item {
	margin-top: 25px;
	padding-left: 40px;
	position: relative;
}

.housing-item::before {
	content: "";
	display: block;
	box-sizing: border-box;
	width: 23px;
	height: 23px;
	position: absolute;
	background-image: url("../img/checkbox-on.svg");
	left: 0;
}

.housing-item input {
	display: none;
}

.cost {
	width: 330px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.cost-name {
	margin-bottom: 9px;
}

.cost-flex {
	display: flex;
	height: 36px;
	margin-bottom: 20px;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
  	font-size: 0;
  	position: relative;
  	font-weight: 400;
  	width: 330px;
  	align-items: center;
  	justify-content: space-around;
}

.cost-flex .min-cost, 
.cost-flex .max-cost {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding-left: 20px;
}

.cost-flex .min-cost {
	width: 165px;
}

.cost-flex .max-cost {
	width: 165px;
}

.cost-flex::after {
	content: "";
  	position: absolute;
  	width: 2px;
  	height: 22px;
  	background: #ffffff;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.cost-flex label {
	font-size: 14px;
  	line-height: 38px;
  	vertical-align: top;
  	cursor: pointer;
}

.cost-flex input {
	width: 50px;
	height: 50px;
  	margin: 0;
  	color: inherit;
  	font: inherit;
  	background: none;
  	border: none;
  	padding: 0;
  	vertical-align: middle;
}

.range-controls {
	position: relative;
  	margin-bottom: 32px;
}

.range-controls .scale {
  	height: 2px;
  	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  	width: 80%;
  	height: 2px;
  	background: #ffffff;
}

.range-toggle {
  	width: 4px;
  	height: 4px;
  	background: #ababab;
  	border: 8px solid #ffffff;
  	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
  	position: absolute;
  	top: -9px;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.cost-button {
	display: block;
  	margin: 0 auto;
  	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.cost-button:hover {
	color: #000000;
  	background: #ffffff;
}

.all-results {
	background-color: #ffffff;
}

.results {
	width: 1060px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 36px;
	padding-bottom: 36px;
	align-items: center;
}

.find-results {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	width: 120px;
	margin-right: 50px;
}

.sort {
	display: flex;
	flex-wrap: wrap;
}

.sort-name {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	width: 80px;
	margin-right: 42px;
}

.sort-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin: 0;
	width: 240px;
	justify-content: space-between;
}

.sort-item {
	width: 80px;
}

.sort-item.blue {
	border: none;
	color: #81b3d2;
}

.sort-link {
	color: #b1b1b1;
	border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover {
	color: #81b3d2;
}

.sort-link:active {
	color: #000000;
	border: none;
}

.results-img {
	display: flex;
	margin-left: auto;
	width: 40px;
}

.img-one {
	width: 15px;
	cursor: pointer;
	border: none;
	outline: none;
	background: #ffffff;
	padding: 0;
}

.img-one:hover polyline {
	fill: #231f20;
}

.img-one:active polyline {
	fill: #81b3d2;
}

.img-two {
	width: 15px;
	cursor: pointer;
	border: none;
	outline: none;
	background: #ffffff;
	padding: 0;
}

.img-two:hover polygon {
	fill: #231f20;
}

.img-two:active polygon {
	fill: #81b3d2;
}

.all-hotels {
	background-color: #ffffff;
}

.hotel-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	border-top: 2px solid #e5e5e5;
}

.hotel-item {
	padding-top: 31px;
	padding-bottom: 31px;
	border-bottom: 2px solid #e5e5e5;
}

.hotel-width {
	width: 1060px;
	margin: 0 auto;
	display: flex;
}

.amara,
.desert,
.villas {
	width: 135px;
	align-self: flex-start;
}

.hotel-value {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 260px;
}

.hotel-name {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #b2b2b2;
}

.hotel-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	width: 260px;
}

.hotel-text-first {
	margin: 0;
	width: 110px;
}

.hotel-text-second {
	margin: 0;
	width: 144px;
	margin-left: auto;
}

.hotel-buttons {
	margin-top: auto;
	display: flex;
}

.hotel-link {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	width: 110px;
	padding: 5px 16px;
	background-color: #81b3d2;
	box-sizing: border-box;
	color: #ffffff;
	text-align: center;
}

.hotel-link:hover {
	background-color: #669ec0;
}

.hotel-link:active {
	background-color: #5496bd;
	outline: none;
	color: #88b6d1;
}

.hotel-brown {
	box-sizing: border-box;
	background-color: #766357;
	border: 0;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	width: 144px;
	padding: 5px 0;
	margin-left: auto;
	text-align: center;
	font-family: 'PT Sans', Arial, sans-serif
}

.hotel-brown:hover {
	background-color: #604e43;
}

.hotel-brown:active {
	background-color: #503e33;
	outline: none;
	color: #857871;
}

.hotel-rating {
	width: 115px;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.rating-img {
	display: flex;
	flex-wrap: wrap;
}

.star-img {
	padding-left: 8px;
}

.rating-value {
	margin: 0;
	margin-top: auto;
	background-color: #f2f2f2;
	padding: 6px 16px;
	font-weight: 400;
}



