body {
	margin: 0 40px;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
}

.button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
    text-transform: uppercase;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-header {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	text-align: center;
}

.logo-little {
	position: absolute;
	left: 615px;
}

.navigation-wrapper {
	width: 1060px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.site-navigation-first {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-left: 0;
	width: 330px;
	justify-content: space-between;
}

.site-navigation-second {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding-left: 0;
	width: 330px;
	justify-content: space-between;
}

.navigation-item {
	width: 100px;
}

.navigation-link {
	color: #000000;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navigation-item.current {
	color: #766357;
}

.navigation-link:hover {
	color: #81b3d2;
}

.navigation-link:active {
	color: #b7b7b7;
}

.main-logo {
	background-color: #5785ae;
	background-image: url("../img/background-main.jpg");
	background-repeat: no-repeat;
	width: 100%;
}

.logo-group {
	text-align: center;
	padding-top: 75px;
}

.logo-part {
	vertical-align: bottom;
}

.logo-info {
	background-color: #ffffff;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 60px;
}

.logo-info p {
	margin: 0;
}

.info-width {
	margin-top: 0;
	font-size: 21px;
}

.info-narrow {
	font-weight: 400;
	padding-top: 45px;
}

.really-town {
	background-color: #81b3d2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.town-text {
	color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	align-self: center;
	width: 400px;
}

.number {
	position: relative;
}

.number::before {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #ffffff;
	bottom: 10px;
	left: 175px;
}

.number::after {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #ffffff;
	bottom: 10px;
	left: 215px;
}

.number-color {
	position: relative;
}

.number-color::before {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #000000;
	bottom: 10px;
	left: 108px;
}

.number-color::after {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 1px;
	background-color: #000000;
	bottom: 10px;
	left: 148px;
}

.town-text p {
	font-size: 14px;
	margin: 0;
	padding-top: 30px;
}

.town-text h3 {
	margin: 0;
}

.town-img img {
	vertical-align: bottom;
}

.opportunites {
	background-color: #ffffff;
}

.opportunites-list {
	line-height: 21px;
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	padding-top: 162px;
	padding-bottom: 87px;
	margin: 0;
}

.opportunites-item {
	position: relative;
	display: block;
	min-width: 265px;
}

.opportunites-item h3 {
	margin: 0;
	font-size: 21px;
}

.opportunites-item p {
	margin: 0;
	font-weight: 400;
	padding-top: 32px;
}

.first::before {
	content: "";
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	background-image: url("../img/icon-1.png"); 
	background-repeat: no-repeat;
	left: 88px;
	bottom: 106px;
}

.second::before {
	content: "";
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	background-image: url("../img/icon-2.png"); 
	background-repeat: no-repeat;
	left: 105px;
	bottom: 106px;
}

.third::before {
	content: "";
	position: absolute;
	display: block;
	width: 80px;
	height: 80px;
	background-image: url("../img/icon-3.png"); 
	background-repeat: no-repeat;
	left: 103px;
	bottom: 110px;
}

.opportunites-grey {
	background-color: #eeeeee;
}

.opportunites-list-second {
	line-height: 21px;
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	padding-top: 53px;
	padding-bottom: 66px;
	margin: 0;
}

.interesting {
	background-color: #ffffff;
	font-weight: 400;
	text-align: center;
}

.interesting h2 {
	font-size: 30px;
	line-height: 36px;
	margin: 0;
	padding-top: 60px;
}

.interesting p {
	line-height: 24px;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 140px;
}

.search-section {
	background: url("../img/map.jpg") no-repeat #ffffff;
}

.find-form{
	width: 570px;
	margin: 0 auto;
	background-color: #ffffff;
}

.button-top {
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 21px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #766357;
	color: #ffffff;
	width: 570px;
	border: none;
}

.button-top:hover {
	background-color: #604e43;
}

.button-top:active {
	background-color: #503e33;
	color: #857871;
	outline: none;
}

.find-form-content {
	padding: 55px;
}


.form-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.visit-calendar::after {
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/calendar.png");
	background-repeat: no-repeat;
	width: 21px;
	height: 23px;
	right: 10px;
	top: 8px;
}

.form-visit-date {
	display: block;
	min-width: 100px;
}

.form-text:hover,
.form-departure input:hover {
	background-color: #ebebeb;
}

.form-text:hover path,
.form-departure input:hover path {
	fill: #ffffff;
}

.form-text:focus,
.form-departure .form-text:focus {
	background-color: #ffffff;
}

.form-row.form-departure {
	margin-top: 30px;
	position: relative;
}

.departure-calendar::after {
	content: "";
	display: block;
	position: absolute;
	background-image: url("../img/calendar.png");
	background-repeat: no-repeat;
	width: 21px;
	height: 23px;
	right: 10px;
	top: 8px;
}

.form-departure-date {
	display: block;
	min-width: 100px;
}

.form-text {
	width: 350px;
	padding: 7px 10px;
	border: none;
	background-color: #f2f2f2;
	font-size: inherit;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: inherit;
	line-height: inherit;
	box-sizing: border-box;
}


.form-flex {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 55px;
}

.adult {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

.value-adult {
	min-width: 110px;
}

.position {
	position: relative;
}

.button-minus {
	position: absolute;
	z-index: 3;
	border: none;
	display: block;
	width: 10px;
	height: 10px;
	left: 14px;
	top: 15px;
}

.button-minus::before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background-image: url("../img/minus.svg");
	background-repeat: no-repeat;
	z-index: 4;
	position: absolute;
	left: -2px;
	top: 4px;
}

.form-text-adult {
	width: 114px;
	border: none;
	background-color: #f2f2f2;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: center;
	padding: 7px 10px;
	box-sizing: border-box;
	position: relative;
}

.button-plus {
	position: absolute;
	border: none;
	z-index: 3;
	display: block;
	width: 10px;
	height: 10px;
	right: 14px;
	top: 15px;
}

.button-plus::after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background-image: url("../img/plus.svg");
	background-repeat: no-repeat;
	z-index: 5;
	position: absolute;
	bottom: -5px;
	left: 2px;
}


.child {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.value-child {
	min-width: 67px;
}

.form-text-child {
	width: 114px;
	border: none;
	background-color: #f2f2f2;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: center;
	padding: 7px 10px;
	box-sizing: border-box;
}

.find-button {
	background-color: #81b3d2;
	border: none;
	width: 100%;
	padding: 16px;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}

.find-button:hover {
	background-color: #669ec0;
}

.find-button:active {
	background-color: #5496bd;
	color: #7aadcb;
	outline: none;
}

.footer-main {
	background-color: #ffffff;
}

.footer-contain {
	width: 980px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 35px;
}

.footer-tel {
	list-style: none;
	font-size: 21px;
	margin: 0;
	padding-left: 0;
	width: 225px;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	margin: 0;
	width: 150px;
	padding: 0;
	justify-content: space-between;
}

.social-item {
	margin-bottom: 10px;
}


.social-element {
	display: flex;
	width: 45px;
	height: 45px;
	background-color: #81b3d2;
	justify-content: center;
	align-items: center;
}

.social-element:hover {
	background-color: #669ec0;
}

.social-element:hover path,
.social-element:active path {
	fill: #88b6d1;
}

.social-element:active {
	background-color: #5496bd;
	border: 0;
}

.site {
	display: flex;
	align-items: center;
}

.site-link {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 198px;
}

.site-text {
	width: 75px;
	color: #000000;
	margin: 0;
}

.site-img {
	width: 115px;
	height: 40px;
}

.site-img:hover path {
	fill: #81b3d2;
}

.site-img:active path {
	fill: #bdbbbcc;
}

.choose {
	background-image: url("../img/background-filter.jpg");
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
}

.form-top {
	width: 1060px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.form-choose {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	justify-content: space-between;
}

.form-infra {
	border: none;
	padding: 0;
	width: 140px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.infra-name {
	padding-left: 0;
	padding-bottom: 15px;
}

.infra-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.infra-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.form-housing {
	border: none;
	padding: 0;
	width: 140px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.housing-name {
	padding-left: 0;
	padding-bottom: 15px;
}

.housing-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.housing-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.cost {
	width: 320px;
	text-align: center;
	align-content: space-between;
	margin-bottom: 30px;
	margin-top: 30px;
}

.cost-name {
	margin: 0;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 12px;
	padding-bottom: 15px;
}

.cost-flex {
	display: flex;
	border: 2px solid #ffffff;
	border-radius: 3px;
}

.cost-text {
	margin: 0;
	width: 160px;
	padding: 10px;
}

.cost-range {
	width: 320px;
	text-align: center;
}

.cost-input {
	margin-top: 10px;
}

.cost-button {
	outline: none;
  	background: transparent;
  	border: 2px solid #ffffff;
	border-radius: 3px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin-top: 20px;
	width: 136px;
	height: 35px;
	box-sizing: border-box;
}

.all-results {
	background-color: #ffffff;
}

.results {
	width: 1060px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding-top: 36px;
	padding-bottom: 36px;
	align-items: center;
}

.find-results {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	width: 118px;
	margin-right: 50px;
}

.sort {
	display: flex;
	flex-wrap: wrap;
}

.sort-name {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	width: 80px;
	margin-right: 42px;
}

.sort-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin: 0;
	width: 240px;
	justify-content: space-between;
}

.sort-item {
	width: 80px;
}

.sort-item.blue {
	border: none;
	color: #81b3d2;
}

.sort-link {
	color: #b1b1b1;
	border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover {
	color: #81b3d2;
}

.sort-link:active {
	color: #000000;
	border: none;
}

.results-img {
	margin-left: auto;
}

.all-hotels {
	background-color: #ffffff;
}

.hotel-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	border-top: 2px solid #e5e5e5;
}

.hotel-item {
	padding-top: 31px;
	padding-bottom: 31px;
	border-bottom: 2px solid #e5e5e5;
}

.hotel-width {
	width: 1060px;
	margin: 0 auto;
	display: flex;
}

.hotel-value {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 260px;
}

.hotel-name {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #b2b2b2;
}

.hotel-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	width: 260px;
}

.hotel-text-first {
	margin: 0;
	width: 110px;
}

.hotel-text-second {
	margin: 0;
	width: 144px;
	margin-left: auto;
}

.hotel-buttons {
	margin-top: auto;
	display: flex;
}

.hotel-link {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	width: 110px;
	padding: 5px 16px;
	background-color: #81b3d2;
	box-sizing: border-box;
	color: #ffffff;
	text-align: center;
}

.hotel-link:hover {
	background-color: #669ec0;
}

.hotel-link:active {
	background-color: #5496bd;
	outline: none;
	color: #88b6d1;
}

.hotel-brown {
	box-sizing: border-box;
	background-color: #766357;
	border: 0;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	width: 144px;
	padding: 5px 0;
	margin-left: auto;
	text-align: center;
}

.hotel-brown:hover {
	background-color: #604e43;
}

.hotel-brown:active {
	background-color: #503e33;
	outline: none;
	color: #857871;
}

.hotel-rating {
	width: 115px;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.rating-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.star-img {
	padding-left: 8px;
}

.rating-value {
	margin: 0;
	margin-top: auto;
	background-color: #f2f2f2;
	padding: 6px 16px;
	font-weight: 400;
}



